.emph {
    font-weight: bold;
    font-style: italic;
}

.projects_list {
    overflow: auto;
    height: 500px;
}

.projects_list td {
    vertical-align: middle;
}

.project_links a {
    cursor: pointer;
}